.tooltip {
  opacity: 1 !important;
  z-index: 3;
}

.tooltip-light {
  @extend .tooltip;
  background: #121212 !important;
  color: #F9FAFB !important;
}

.tooltip-dark {
  @extend .tooltip;
  background: #F9FAFB !important;
  color: #121212 !important;
}
