.conv-comment-root {
  * {
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 30px;
  height: 30px;
  overflow: auto;
  transition: all 0.18s ease-in-out;
  padding-left: 20px;

  .row-container {
    opacity: 0;
    transition: none;
  }

  &::after {
    content: " ";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/icons/logo.svg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  &:hover {
    opacity: 1;
    height: auto;
    width: auto;
    padding-left: 0;


    .row-container {
      opacity: 1;
      transition: none;
      overflow: visible;
      position: relative;
    }

    &::after {
      display: none;
    }
  }
}


.conv-comment-root-light {
  @extend .conv-comment-root;

  &::after {
    content: " ";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/icons/iconMinimalLight.svg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.conv-comment-root-dark {
  @extend .conv-comment-root;

  &::after {
    content: " ";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/icons/iconMinimalDark.svg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

