.button-container {
  position: relative;
  display: inline-block;
  z-index: 199;
  overflow: visible;

  .child-button {
    z-index: 200;
    overflow: visible;


    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(0px);
      overflow: visible;
    }

    &::after {
      content: attr(data-tooltip); /* Tooltip text from data attribute */
      position: absolute;
      bottom: 100%; /* Position above the button */
      left: 50%;
      transform: translateX(-50%) translateY(0);
      background-color: #fff; /* Tooltip background */
      color: #0070f3;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 14px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      transition: opacity 0.3s ease, transform 0.3s ease;
      transition-delay: 800ms; /* Delay before showing the tooltip */
    }
  }
}

.button-container-up {
  @extend .button-container;

  .child-button {
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(100%);
      overflow: visible;
    }

    &::after {
      content: attr(data-tooltip); /* Tooltip text from data attribute */
      position: absolute;
      bottom: 100%; /* Position above the button */
      left: 50%;
      transform: translateX(-50%) translateY(0);
      background-color: #fff; /* Tooltip background */
      color: #0070f3;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 14px;
      white-space: nowrap;
      visibility: hidden;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      transition: opacity 0.3s ease, transform 0.3s ease;
      transition-delay: 800ms; /* Delay before showing the tooltip */
    }

  }

}

.button-container-down {
  @extend .button-container;

  .child-button {
    &::after {
      content: attr(data-tooltip); /* Tooltip text from data attribute */
      position: absolute;
      bottom: 100%; /* Position above the button */
      left: 50%;
      transform: translateX(-50%) translateY(0);
      background-color: #fff; /* Tooltip background */
      color: #0070f3;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 14px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      transition: opacity 0.3s ease, transform 0.3s ease;
      transition-delay: 800ms; /* Delay before showing the tooltip */
    }

  }

}